{% assign rating = rating | default: 0 %}
{% assign full_stars = rating | floor %}

{% if rating > full_stars %}
  {% assign half_star = 1 %}
{% else %}
  {% assign half_star = 0 %}
{% endif %}


<div class="star-rating">
  {%- for i in (1..full_stars) -%}
   
  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="38" viewBox="0 0 40 38" fill="none">
   <path d="M19.6038 0L24.2296 14.2369H39.1992L27.0886 23.0357L31.7144 37.2726L19.6038 28.4737L7.49319 37.2726L12.119 23.0357L0.00842094 14.2369H14.978L19.6038 0Z" fill="black"/>
  </svg>
  
  {%- endfor -%}

  {% if half_star == 1 %}
  
   <svg xmlns="http://www.w3.org/2000/svg" width="40" height="38" viewBox="0 0 40 38" fill="none">
     <!-- Unfilled star (gray or light color) -->
     <path d="M19.6038 0L24.2296 14.2369H39.1992L27.0886 23.0357L31.7144 37.2726L19.6038 28.4737L7.49319 37.2726L12.119 23.0357L0.00842094 14.2369H14.978L19.6038 0Z" fill="#E0E0E0"/>



      <!-- Filled left half (black) -->
        <clipPath id="half-star-clip">
          <rect x="0" y="0" width="20" height="38" />
        </clipPath>
         <path d="M19.6038 0L24.2296 14.2369H39.1992L27.0886 23.0357L31.7144 37.2726L19.6038 28.4737L7.49319 37.2726L12.119 23.0357L0.00842094 14.2369H14.978L19.6038 0Z" fill="black" clip-path="url(#half-star-clip)"/>
   </svg>

  {% endif %}
</div>